body {
  text-align: center;
  background-color: #F8F8F8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fileList{
  
  border:1px solid black;
  width: 400px;
  margin: 0 auto;

}

.modalEdit{
    width:100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.editForm{
  position: relative;
  left: 50%;
  top: 50%;
  width:300px;
  border-radius: 30px;
  /* height: 100px; */
  padding: 20px;
  background-color: blanchedalmond;
  transform: translate(-50%, -50%);
}

.uploadContainer{
  max-width: 1620px;
  align-self: center;
  margin: 0 auto;
}

.dropZone{
  padding: 200px 0px;
}
.dragZone{
  margin: 0 auto;

  width: 400px;
  height: 500px;
  border-radius: 10px;
  border: 6px dotted plum;
  background-color: blanchedalmond;
}

.centerUpload{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}